.app {
  /* display: flex; */
  /* overflow: auto;
  white-space: nowrap; */
  /* overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; */
  /* display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; */
}

/* .app__content {
  display: inline-block;
  flex: 0 0 auto;
  width: 10000px;
} */